.button {
	position: relative;
}

.button a, input.button {
	display: inline-block;
	position: relative;
	z-index: 1;
	margin-bottom: 10px;
	background: $primary-color;
	border: none;
	line-height: 1.2;
	color: $white;
	padding: 15px 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	@include breakpoint(medium ) {
	    margin-right: 15px;
	}
	&:last-child {
		margin-right: 0;
	}	
	&:hover {
		background: transparent;
		color: $primary-color;
	}
	&::before {
		border: 2px solid $primary-color;
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
	&::after {
		background: $primary-color;
	}
	&::before, &::after {
		content: '';
		z-index: -1;
		border-radius: inherit;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	&:hover::before {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	&:hover::after {
		opacity: 0;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
	}
}

input.button:hover {
	border: 2px solid $primary-color;
}

.button.normal a {
	font-size: 18px;
	padding: 8px 24px;
}

.blue.button a {
	background-color: $secondary-color;
	border-color: $secondary-color;
	&:hover {
		background: transparent;
		color: $secondary-color;
	}
	&:after {
		background: $secondary-color;
	}
	&:before {
		border: 2px solid $secondary-color;
	}
}

.gray.button a {
	background-color: #5e6367;
	border-color: #5e6367;
	&:hover {
		background: transparent;
		color: #5e6367;
	}
	&:after {
		background: #5e6367;
	}
	&:before {
		border: 2px solid #5e6367;
	}
}

.button.reverse a, #gform_submit_button_4, .epop-inner-content .button a, .entry-content section.orange-bg .button a {
	background-color: #fff;
	border-color: #fff;
	color: $primary-color;
	&:hover {
		background: transparent;
		color: #fff;
	}
	&:after {
		background: #fff;
	}
	&:before {
		border: 2px solid #fff;
	}
}

.button.outline.white a {
	background: transparent;
	border: solid 1px #fff;
	color: #fff;
	&:hover {
		background: transparent;
		color: $primary-color;
	}
	&:after {
		background: transparent;
	}
	&:before {
		background: #fff;
		border: 2px solid #fff;
	}
}

.button.small a {
	padding: 8px 20px;
	font-size: 16px;
	text-transform: none; 
}

.button.full-width a {
	width: 100%;
	margin: 0 auto;
	font-size: 25px;
}

.button.large a {
	padding: 20px 50px;
	font-size: 25px;
}