.top-bar-right {
	@media only screen and (min-width: 40.063em) {
		margin-top: 33px;
	}
	@media only screen and (max-width: 720px) and (min-width: 40.063em)  {
		margin-top: 20px;
	}
	.search-button  {
		display: inline-block;
		svg.search-icon {
	    	fill: #5e6367;
	    	width: 50px;
	    	height: 20px;
	    	margin-top: -4px;
	    	pointer-events: none;
			&:hover {
				color: $primary-color;
			}
			transition: color 0.5s ease-out;
			-o-transition: color 0.5s ease-out;
			-moz-transition: color 0.5s ease-out;
			-webkit-transition: color 0.5s ease-out;
			vertical-align: middle;
			padding: 0 15px;
			margin-left: -4px;
			cursor: pointer;
			@media only screen and (max-width: 40em) {
				width: 60px;
			}
		}
	}
}

.top-bar-left a.logo {
	display: block;
	float: left;
	margin: 27px 0 18px 15px;
	@media only screen and (max-width: 1020px) {
		margin-top: 22px;
	}
	@media only screen and (max-width: 720px) {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	svg {
		display: block;
		width: 154px;
		height: 61px;
		@media only screen and (max-width: 800px) {
			width: 111px;
			height: 44px;	
		}
		@media only screen and (max-width: 725px) {
			width: 90px;
			height: 36px;	
		}
	}
	.eurokera-logo-1 {
		fill: #251a06;
	}
}

.header-container {
    @media only screen and (min-width: 40.063em) {
	    margin-bottom: 25px;
	}
}

header#masthead {
    position: relative;
    width: 100%;
    top: 0;
    //background: none;
    transition: background 500ms ease;
    -webkit-transition: background 500ms ease;
        display: block;
    width: 100%;
    float: left;

    /* @include breakpoint(medium) {

	    &.headroom--pinned:not(.headroom--top) {
			position: fixed;
			height: auto !important;
			top: -70px;
			background: #fff;
			transform: translateY(70px);
			transition: transform 500ms ease,background 900ms ease;
			-webkit-transition: transform 500ms ease,background 900ms ease;
			z-index: 99999;
			//border-bottom: solid 1px $medium-gray;
			box-shadow: 0px 0px 10px 2px rgba(0,0,0,.15);

			.top-bar-left a {
				padding: 8px 0;
				width:87px;
				margin: 0 15px;
				img {
					min-height: 0;
				}
			}

			.top-bar-right {
				margin-top: 0;
			}

			&+ section.container  {
				margin-top: 0px
			}
	    }
    } */
}

/*
.admin-bar header#masthead.headroom--pinned:not(.headroom--top) {
	top: -38px;
}

@media only screen and (max-width: 782px) {
	.admin-bar header#masthead.headroom--pinned:not(.headroom--top) {
		top: -24px;
	}
}
*/

.icon-wrapper {
	display: inline-block;
	vertical-align: top;
	/* Commented out 5/29/19 because it was chopping the search icon for mobile.
	width: 25px;
	height: 25px;
	*/
	@media (max-width: 40em) {
		display: none!important;
	}
	
}
.top-bar-right .icon-wrapper {
	display: inline-block!important;
	@media only screen and (max-width: 40em) {
		display: none;	
	}
}

// Mobile Stuff
@media only screen and (max-width: 40em) {
	.top-bar-left {
		a.logo {
			z-index: 9999;
			position: relative;
			margin: 11px 10px;
			display: block;
			float: left;
		}
	}
	.top-bar-right {
		position: absolute;
		top: 0;
		z-index: 999;
		width: 100%;
	}
}

body > .animsition > section.container > section,
body > section.container > section,
body > .animsition > section.container > header,
body > section.container > header,
.header-wrapper {
	z-index: 1;
	position: relative;
}

.header-wrapper {
	z-index: 11;
	background: #fff;
	width: 100%;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	box-shadow: 0 0 5px rgba(0,0,0,.15);
	&.stuck {
		position: fixed;
		top: 0 !important;
		left: 0;
	}
}

.header-wrapper {
	position: fixed;
	/* top: 30px; */
	left: 0;
}

body.admin-bar:not(.home) .header-wrapper {
	top: 62px;
	@media only screen and (max-width: 782px) {
		top: 76px;
	}
}

.header-wrapper {
	position: fixed;
	left: 0;
	/* top: 29px; */
	top: 0;
	@media only screen and (max-width: 640px) {
		/* top: 58px; */
		top: 0;
	}
}

.top-header.mobile-active + .header-wrapper {
	@media only screen and (max-width: 40em) {
		top: 120px;
	}
}

/* ADMIN BAR CSS */
.admin-bar .header-wrapper, body.admin-bar:not(.home) .header-wrapper  {
	/* top: 61px; */
	top: 32px;
	@media only screen and (max-width: 782px) {
		/* top: 76px; */
		top: 46px;	
	}
	@media only screen and (max-width: 640px) {
		/* top: 106px; */
		top: 46px;
	}
}

.admin-bar .top-header.mobile-active + .header-wrapper, body.admin-bar:not(.home) .top-header.mobile-active + .header-wrapper {
	@media only screen and (max-width: 40em) {
		top: 166px;
	}
}
	
@media only screen and (max-width: 40em) {	
	body:not(.home) section.container, .home-banner {
		margin-top: 0;
	}
}

@media only screen and (min-width: 40.063em) {
	.header-wrapper.stuck + section.container {
		margin-top: 107px;
	}
}

@media only screen and (max-width: 1020px) {
	.header-wrapper.stuck + section.container {
		/* margin-top: 102px; */
	}
}

@media only screen and (max-width: 720px) {
	.header-wrapper.stuck + section.container {
		/* margin-top: 74px; */
	}
}

@media only screen and (max-width: 40em) {
	.header-wrapper.stuck + section.container {
		/* margin-top: 66px; */
	}
}

.admin-bar .header-wrapper.stuck {
	top: 32px !important;
	@media only screen and (max-width: 782px) {
		top: 46px !important;
	}
}

#site-navigation {
	position: relative;
}

@media only screen and (min-width: 40.063em) {
	.header-wrapper + section.container {
		/* margin-top: 106px; */
		margin-top: 135px;
	}
}

@media only screen and (max-width: 1020px) {
	.header-wrapper + section.container {
		/* margin-top: 75px; */
		margin-top: 130px;
		
	}
}

@media only screen and (max-width: 800px) {
	.header-wrapper + section.container {
		/* margin-top: 75px; */
		margin-top: 115px;
		
	}
}

@media only screen and (max-width: 720px) {
	.header-wrapper + section.container {
		/* margin-top: 66px; */
		margin-top: 97px;
	}
}

@media only screen and (max-width: 40em) {
	.header-wrapper + section.container {
		/* margin-top: 60px !important; */
		margin-top: 118px !important;
	}
}

.top-header {
	background: #000;
	position: relative;
	z-index: 9999;
	a {
		display: inline-block;
		color: #fff;
		font-size: 18px;
		padding: 2px 14px;
		@media only screen and (max-width: 1020px) and (min-width: 40.063em) {
			padding: 2px 8px;		
		}
		@media only screen and (max-width: 830px) and (min-width: 40.063em) {
			padding: 4px 6px;
			font-size: 16px;
		}		
		@media only screen and (max-width: 750px) and (min-width: 40.063em) {
			padding: 6px 4px;
			font-size: 14px;		
		}
		&:hover {
			color: $orange;
		}
	}
	@media only screen and (max-width: 40em) {
		& > .row > .columns {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	li.active a {
		color: $orange;
	}
	ul {
		display: inline-block;
		@media only screen and (max-width: 40em) {
			display: inline;
		}
		margin: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		@media only screen and (max-width: 40em) {
			display: block;
			float: left;
			width: 33.333%;
			border-right: solid 1px #3e3e3e;
			border-bottom: solid 1px #3e3e3e;
		}
		&:nth-child(3n+3) {
			border-right: none;
		}
	}
	@media only screen and (min-width: 40.063em) {
		.top-menu-right {
			float: right;
			text-align: right;
		}
	}
	ul.top-menu > li:first-child a {
		@media only screen and (min-width: 40.063em) {
			padding-left: 0;
		}
	}
	ul.sub-menu {
		position: absolute;
		opacity: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		top: 50px;
		left: 0;
		transition: all .35s;
		background: #000;
		li {
			float: left;
			clear: left;
			width: 100%;
			text-align: left;
			a {
				width: 100%;
				white-space: nowrap;
			}
		}
	}
	li:hover > ul.sub-menu {
		top: 100%;
		height: auto;
		opacity: 1;
		z-index: 1;
		padding: 8px 0;
	}
}

ul.top-menu-right > li.wpml-ls-menu-item {
	position: relative;
	& > a {
		padding-left: 34px;
		background: url(../images/down-arrow.svg) 10px center no-repeat;
	}
	@media only screen and (max-width: 40em) {
		display: none;
	}
}

@media only screen and (max-width: 40em) {
	.top-header.mobile-active ul.top-menu-right > li.wpml-ls-menu-item {
		display: inline-block;
	}
}

ul.top-menu > li.mobile-more > a {
	padding-left: 34px;
	background: url(../images/down-arrow.svg) 10px center no-repeat;
	background-size: 20px 20px !important;	
}

.top-header.mobile-active ul.top-menu > li.mobile-more > a {
	background: url(../images/up-arrow.svg) 10px center no-repeat;
	background-size: 20px 20px !important;
}

body.ie ul#menu-top-menu li.icon-wrapper, body.ie ul#menu-top-right-menu li.icon-wrapper {
    display: none!important;
}
p.tagline {
	display: block;
	float: left;
	font-size: 34px;
	margin: 34px 0 0 30px;
	@media only screen and (max-width: 920px) {
		font-size: 26px;	
	}
	@media only screen and (max-width: 800px) {
		margin: 26px 0 0 30px;
	}
	@media only screen and (max-width: 725px) {
		font-size: 22px;
		margin: 20px 0 0 30px;
	}
	@media only screen and (max-width: 640px) {
		font-size: 14px;
		margin: 19px 0 0 0;
	}
	@media only screen and (max-width: 401px) {
		font-size: 9px;
		margin: 19px 0 0 0;
	}
}