.top-bar-right {
	@media only screen and (min-width: 40.063em) {
		margin-top: 33px;
	}
	@media only screen and (max-width: 720px) and (min-width: 40.063em)  {
		margin-top: 20px;
	}
	.search-button  {
		display: inline-block;
		svg.search-icon {
	    	fill: #5e6367;
	    	width: 50px;
	    	height: 20px;
	    	margin-top: -4px;
	    	pointer-events: none;
			&:hover {
				color: $primary-color;
			}
			transition: color 0.5s ease-out;
			-o-transition: color 0.5s ease-out;
			-moz-transition: color 0.5s ease-out;
			-webkit-transition: color 0.5s ease-out;
			vertical-align: middle;
			padding: 0 15px;
			margin-left: -4px;
			cursor: pointer;
			@media only screen and (max-width: 40em) {
				width: 60px;
			}
		}
	}
}

.top-bar-left a.logo {
	display: block;
	float: left;
	margin: 22px 0 23px 15px;
	@media only screen and (max-width: 1020px) {
		margin-top: 22px;
	}
	@media only screen and (max-width: 720px) {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	svg {
		display: block;
		width: 154px;
		height: 61px;
		@media only screen and (max-width: 800px) {
			width: 111px;
			height: 44px;	
		}
		@media only screen and (max-width: 725px) {
			width: 90px;
			height: 36px;	
		}
	}
	.eurokera-logo-1 {
		fill: #251a06;
	}
}

.header-container {
    @media only screen and (min-width: 40.063em) {
	    margin-bottom: 25px;
	}
}

header#masthead {
    position: relative;
    width: 100%;
    top: 0;
    transition: background 500ms ease;
    -webkit-transition: background 500ms ease;
        display: block;
    width: 100%;
    float: left;
}

.icon-wrapper {
	display: inline-block;
	vertical-align: top;
	/* Commented out 5/29/19 because it was chopping the search icon for mobile.
	width: 25px;
	height: 25px;
	*/
	@media (max-width: 40em) {
		display: none!important;
	}
	
}
.top-bar-right .icon-wrapper {
	display: inline-block!important;
	@media only screen and (max-width: 40em) {
		display: none;	
	}
}

// Mobile Stuff
@media only screen and (max-width: 40em) {
	.top-bar-left {
		a.logo {
			z-index: 9999;
			position: relative;
			margin: 11px 10px;
			display: block;
			float: left;
		}
	}
	.top-bar-right {
		position: absolute;
		top: 0;
		z-index: 999;
		width: 100%;
	}
}

body > .animsition > section.container > section,
body > section.container > section,
body > .animsition > section.container > header,
body > section.container > header,
.header-wrapper {
	z-index: 1;
	position: relative;
}

.header-wrapper {
	z-index: 11;
	background: #fff;
	width: 100%;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}

body.admin-bar:not(.home) .header-wrapper.fixed {
	top: 62px;
	@media only screen and (max-width: 782px) {
		top: 76px;
	}
}

.header-wrapper.fixed {
	position: fixed;
	left: 0;
	top: 0 !important;
	@media only screen and (max-width: 640px) {
		top: 0;
	}
}

.header-wrapper.no-secondary-nav.fixed #site-navigation, .header-wrapper.fixed:not(.no-secondary-nav) .top-header {
	display: none;
}

.top-header.mobile-active + .header-wrapper {
	@media only screen and (max-width: 40em) {
		top: 120px;
	}
}

/* ADMIN BAR CSS */
.admin-bar .top-header.mobile-active + .header-wrapper, body.admin-bar:not(.home) .top-header.mobile-active + .header-wrapper {
	@media only screen and (max-width: 40em) {
		top: 166px;
	}
}
	
@media only screen and (max-width: 40em) {	
	body:not(.home) section.container, .home-banner {
		margin-top: 0;
	}
}

.admin-bar .header-wrapper.fixed {
	top: 32px !important;
	@media only screen and (max-width: 782px) {
		top: 46px !important;
	}
}

#site-navigation {
	position: relative;
}

@media only screen and (min-width: 40.063em) {
	.header-wrapper.fixed + section.container {
		margin-top: 135px;
	}
}

@media only screen and (max-width: 1020px) {
	.header-wrapper.fixed + section.container {
		margin-top: 130px;
		
	}
}

@media only screen and (max-width: 800px) {
	.header-wrapper.fixed + section.container {
		margin-top: 115px;
		
	}
}

@media only screen and (max-width: 720px) {
	.header-wrapper.fixed + section.container {
		margin-top: 97px;
	}
}

@media only screen and (max-width: 40em) {
	.header-wrapper.fixed + section.container {
		margin-top: 118px !important;
	}
}

.top-header {
	background: #000;
	position: relative;
	z-index: 99999999;
	a {
		display: inline-block;
		color: #fff;
		font-size: 18px;
		padding: 2px 14px;
		@media only screen and (max-width: 1020px) and (min-width: 40.063em) {
			padding: 2px 8px;		
		}
		@media only screen and (max-width: 830px) and (min-width: 40.063em) {
			padding: 4px 6px;
			font-size: 16px;
		}		
		@media only screen and (max-width: 750px) and (min-width: 40.063em) {
			padding: 6px 4px;
			font-size: 14px;		
		}
		@media only screen and (max-width: 40em) {
			font-size: 24px;	
		}
		&:hover {
			color: $orange;
		}
	}
	@media only screen and (max-width: 40em) {
		& > .row > .columns {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
	li.active a {
		color: $orange;
	}
	ul {
		display: inline-block;
		@media only screen and (max-width: 40em) {
			display: inline;
		}
		margin: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		@media only screen and (max-width: 40em) {
			display: block;
			float: left;
			width: 100%;
		}
		&:nth-child(3n+3) {
			border-right: none;
		}
	}
	@media only screen and (min-width: 40.063em) {
		.top-menu-right {
			float: right;
			text-align: right;
		}
	}
	ul.top-menu > li:first-child a {
		@media only screen and (min-width: 40.063em) {
			padding-left: 0;
		}
	}
	ul.sub-menu {
		position: absolute;
		opacity: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		top: 50px;
		left: 0;
		transition: all .35s;
		background: #000;
		@media only screen and (max-width: 40em) {
			width: 100%;	
		}
		li {
			float: left;
			clear: left;
			width: 100%;
			text-align: left;
			@media only screen and (max-width: 40em) {
				text-align: center;	
			}
			a {
				width: 100%;
				white-space: nowrap;
			}
		}
	}
	li:hover > ul.sub-menu {
		top: 100%;
		height: auto;
		opacity: 1;
		z-index: 1;
		padding: 8px 0;
	}
}

ul.top-menu-right > li.wpml-ls-menu-item {
	position: relative;
	& > a {
		padding-left: 34px;
		background: url(../images/down-arrow.svg) 10px center no-repeat;
	}
}

@media only screen and (max-width: 40em) {
	.top-header.mobile-active ul.top-menu-right > li.wpml-ls-menu-item {
		display: inline-block;
	}
}

ul.top-menu > li.mobile-more > a {
	padding-left: 34px;
	background: url(../images/down-arrow.svg) 10px center no-repeat;
	background-size: 20px 20px !important;	
}

.top-header.mobile-active ul.top-menu > li.mobile-more > a {
	background: url(../images/up-arrow.svg) 10px center no-repeat;
	background-size: 20px 20px !important;
}

body.ie ul#menu-top-menu li.icon-wrapper, body.ie ul#menu-top-right-menu li.icon-wrapper {
    display: none!important;
}
p.tagline {
	display: block;
	float: left;
	font-size: 34px;
	margin: 34px 0 0 30px;
	@media only screen and (max-width: 920px) {
		font-size: 26px;	
	}
	@media only screen and (max-width: 800px) {
		margin: 26px 0 0 30px;
	}
	@media only screen and (max-width: 725px) {
		font-size: 22px;
		margin: 20px 0 0 30px;
	}
	@media only screen and (max-width: 640px) {
		font-size: 14px;
		margin: 19px 0 0 0;
	}
	@media only screen and (max-width: 401px) {
		font-size: 11px;
		margin: 21px 0 0 0;
	}
	@media only screen and (max-width: 320px) {
		font-size: 10px;
		margin: 21px 0 0 0;
	}
}

@media only screen and (max-width: 40em) {
	.mobile-menu-container {
		position: fixed;
		top: 0;
		padding-top: 64px;
		width: 100%;
		height: 100vh;
		overflow: scroll;
		background: rgba(0,0,0,.85);
		display: flex;
		/* align-items: center; */
		justify-content: center;
		flex-flow: wrap;
		left: -100vw;
		z-index: 9999999;
		transition: all .35s;
	}
	.admin-bar .mobile-menu-container {
		padding-top: 110px;
	}
	.top-menu-trigger {
		text-align: left;
		svg {
			margin: 20px;
			float: left;
			cursor: pointer;
		}
	}
	body.mobile-menu-active .mobile-menu-container {
		left: 0;
	}
	body.mobile-menu-active  {
		overflow: hidden;
		position: fixed;
	}
	.close-top-menu {
    	position: absolute;
    	cursor: pointer;
    	z-index: 3;
    	font-size: 86px;
    	top: 20px;
    	right: 20px;
    	width: 42px;
    	color: #fff;
    	line-height: 33px;
	}
	body.admin-bar .close-top-menu {
		top: 66px;
	}
}