section.intro {
	padding: 90px 20px 45px 20px;
	@media only screen and (max-width: 40.063em) {
		padding: 45px 20px;	
	}
	h2 {
		color: $primary-color;
		font-size: 46px;
		margin-bottom: 18px;
		@media only screen and (max-width: 40.063em) {
			font-size: 30px;	
		}
	}
	p {
		font-size: 22px;
		@media only screen and (max-width: 40.063em) {
			font-size: 20px;	
		}
	}
	.row {
		max-width: 960px;
	}
}

section.image-links {
	padding: 0 20px 35px 20px;
	.row {
		max-width: 990px;
	}
	.image-link {
		display: inline-block;
		position: relative;
		overflow: hidden;
		width: 261px;
		height: 261px;
		-moz-border-radius: 130px;
		-webkit-border-radius: 130px;
		-khtml-border-radius: 130px;
		border-radius: 130px;
		margin-bottom: 60px;
		@media only screen and (max-width: 890px) {
			width: 200px;
			height: 200px;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			-khtml-border-radius: 100px;
			border-radius: 100px;		
		}
		@media only screen and (max-width: 480px) {
			width: 125px;
			height: 125px;
			-moz-border-radius: 62px;
			-webkit-border-radius: 62px;
			-khtml-border-radius: 62px;
			border-radius: 62px;
			margin-bottom: 25px;
			h3 {
				font-size: 15px;
			}	
		}
		color: #fff;
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transition: all .5s;
			-webkit-transition: all .5s; /* Safari and Chrome */
			-ms-transition: all .5s; /* Opera */
		}
		
	}
	a.image-link:hover .overlay {
		background: rgba(#f89828, .8);
	}
}

section.product-selector {
	padding: 90px 0 85px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 45px 20px 25px 20px;	
	}
	background: #dfe0e1;
	h2 {
		font-size: 46px;
		margin-bottom: 35px;
		@media only screen and (max-width: 40.063em) {
			font-size: 30px;
			margin-bottom: 20px;	
		}
	}
	h2.no-matches {
		display: none;
	}
	.row {
		max-width: 1120px;
	}
	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 22px;
		@media only screen and (max-width: 40.063em) {
			font-size: 16px;	
		}
		color: #fff;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	.white .overlay {
		color: #5e6367;
	}
	.columns {
		padding: 8px;
		@media only screen and (max-width: 40.063em) {
			padding: 4px;	
		}
		display: inline-block;
		float: none;
		margin-left: -4px;
		position: relative;
	}
	.product-selector-product {
		cursor: pointer;
	}
	form#product-selector {
		[type="radio"]:not(:checked) + label, [type="radio"]:checked + label, [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
			font-size: 27px;
			@media only screen and (max-width: 40.063em) {
				font-size: 24px;
			}		
		}
		.stacked-radio[type="radio"]:not(:checked) + label, .stacked-radio[type="radio"]:checked + label {
			padding: 32px 0 0 0 !important;
		}
		[type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before, [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
			background: transparent;
		}
		[type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:after, [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
			width: 22px;
			height: 22px;
			border-radius: 11px;
		}
		[type="radio"]:not(:checked) + label:before, [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:after, [type="radio"]:checked + label:after, [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
			top: 13px;
		}
		.stacked-radio[type="radio"]:not(:checked) + label:before, .stacked-radio[type="radio"]:checked + label:before, .stacked-radio[type="radio"]:not(:checked) + label:after, .stacked-radio[type="radio"]:checked + label:after {
			left: 50%;
			margin-left: -11px;
		}
		display: block;
		max-width: 940px;
		margin: 0 auto;
		select {
			width: 317px;
			background-color: #5e6367;
			border: 2px solid #5e6367;
			color: #fff;
			font-size: 21px !important;
			text-transform: uppercase;
			margin: 0 8px 15px 8px;
			padding: 10px 15px !important;
			height: auto;
		}
		.form-divider {
			position: relative;
			display: block;
			width: 100%;
			margin: 45px 0 10px 0;
			@media only screen and (max-width: 40.063em) {
				margin: 30px 0 8px 0;
			}
			div {
				display: inline-block;
				font-size: 28px;
				font-weight: bold;
				background: #dfe0e1;
				padding: 0 24px;
				position: relative;
				z-index: 2;
				@media only screen and (max-width: 40.063em) {
					font-size: 24px;	
				}
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				left: 0;
				height: 1px;
				background: #5e6367;
				top: 50%;
				@media only screen and (max-width: 40.063em) {
					top: -12px;	
				}
			}
			&.no-divider-small:before {
				@media only screen and (max-width: 40.063em) {
					display: none;
				}
			}
		}
		.radio-group {
			margin-top: 40px;
			margin-bottom: 30px;
		}
	}
	p {
		font-size: 24px;
		@media only screen and (max-width: 40.063em) {
			font-size: 20px;	
		}
	}	
}

section.customers {
	padding: 90px 0 120px 0;
	@media only screen and (max-width: 40.063em) {
		padding: 45px 20px 30px 20px;	
	}
	h2 {
		font-size: 46px;
		margin-bottom: 50px;
		@media only screen and (max-width: 40.063em) {
			font-size: 30px;
			margin-bottom: 20px;	
		}
	}
	.logo-carousel {
			
	}
	.customer-logo {
		height: 115px;
	}
}

.owl-nav {
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -45px;
}

.owl-prev, .owl-next {
	position: absolute;
	top: 0;
	display: block;
	background-size: 49px 91px !important;
	width: 49px;
	height: 91px;
	text-indent: -9999px;
}

.owl-theme .owl-nav .owl-prev {
	left: -64px;
	background: url(../images/left-arrow.svg) left top no-repeat;
	@media only screen and (max-width: 40.063em) {
		left: -20px;	
	}
}

.owl-theme .owl-nav .owl-next {
	left: 100%;
	margin-left: 15px;
	background: url(../images/right-arrow.svg) left top no-repeat;
	@media only screen and (max-width: 40.063em) {
		margin-left: -30px;	
	}
}

.makers-details {
	& > div, & > a {
		height: 350px;
		background-size: cover !important;
	}
	& > a {
		padding: 0;
		&:hover > div {
			background: rgba($primary-color, .8);
		}
	}
	.glass-ceramic h2 {
		color: #fff;
	}
	.heat-source {
		margin-bottom: 0;
		@media only screen and (max-width: 40.063em) {
			min-width: 110px;
		}
	}
}

.cooking-methods {
	background: #dfe0e1;
	h2 {
		margin-bottom: 30px;
	}
	.heat-source {	
		color: #585c60;
		svg {
			margin-bottom: 0;
		}
		&:not(.induction) {
			svg path {
				fill: #585c60;
			}
		}
		&.induction{
			svg path.induction-1 {
				fill: #585c60;
			}
			path.induction-2, path.induction-3 {
				stroke: #585c60;
			}
		}
	}
}

.epop-form {
	display: block;
	position: absolute;
	width: 540px;
	top: 250px;
	top: 50%;
	left: 50%;
	margin-left: -270px;
	margin-top: -125px;
	-webkit-box-shadow: 0 0 50px rgba(1,1,1,.3);
	-moz-box-shadow: 0 0 50px rgba(1,1,1,.3);
	box-shadow: 0 0 50px rgba(1,1,1,.3);
	border: solid 4px #fff;
	background: $primary-color;
	padding: 14px;
}

body .epop-form .gform_wrapper .top_label div.ginput_container {
	padding-right: 0 !important;
	margin-bottom: 0;
}

body .epop-form .gform_wrapper input {
	border: none !important;
}

body .epop-form .gform_wrapper {
	margin: 0;
}

body .epop-form .gform_wrapper ul li.gfield, body .epop-form .gform_wrapper .top_label div.ginput_container {
	margin-top: 0;
}

body .epop-form .gform_wrapper  .gform_footer {
	margin: 0;
	padding: 0;
	text-align: right;
}

#gform_submit_button_4 {
	margin: 0;
}

body .epop-form h3 {
	color: #fff;
}