.page-template-design-gallery .featured-image {
	max-height: 475px;
}

.owl-carousel .item {
	transition: .8s;
	-webkit-transition: .8s;
	transform: translateX(0);
	-webkit-transform: translateX(0);
	opacity: 1;
}

.owl-carousel .item.__loading {
	opacity: 0;
	transform: translateX(40px);
	-webkit-transform: translateX(40px);
}

section.design-gallery {
	padding: 25px 0 80px 0;
}

.btn-filter-wrap {
	margin-bottom: 30px;
	.btn-filter {
		font-size: 24px;
		padding: 4px 15px;
		&.btn-active {
			color: $primary-color;
		}
	}
}