.featured-image {
	height: calc(100vh - 112px);
	position: relative;
	-webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    z-index: 9;
}

.entry-content section:first-child p:first-of-type {
	font-size: 24px;
}