.featured-image {
	height: calc(100vh - 112px);
	position: relative;
	-webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    z-index: 9;
}

header.no-image {
	padding-top: 60px;
}

.page-slider {
	padding: 0 !important;
	.slide-inner {
		height: 683px;
		width: 100%;
		background-size: cover !important;
	}
	.bx-wrapper {
		margin: 0 auto;
	}
	.page-slider-overlay {
		position: absolute;
		top: 0;
		width: 100%;
		&.half {
			@media only screen and (min-width: 40.063em) {
				width: 50%;
			}
		}
		&.overlay-right {
			right: 0;
		}
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		h1, h2, h3, h4, h5, h6 {
			display: block;
		}
		p, a, h1, h2, h3, h4, h5, h6 {
			color: #fff;
		}
		.page-slider-content {
			display: block;
			width: 100%;
			padding: 0 5%;
		}
	}
	.bx-controls {
		.bx-pager {
			bottom: 20px;
			@media only screen and (max-width: 40em) {
				
			}
		}
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background: #fff !important;
		opacity: .5;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
		opacity: 1;
	}
}

section.icon-blocks {
	h2, h3 {
		color: #63666A;
	}
	h2 {
		margin-bottom: 40px;
	}
	.icon-block {
		.icon-container {
			height: 110px;
			margin-bottom: 16px;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				max-height: 100%;
				width: auto;
			}
		}
		h3 {
			font-weight: bold;
			font-size: 24px;
			margin-bottom: 20px;
		}
		p {
			font-size: 18px;
			text-align: left;
		}
	}
}