a.product-video {
	font-size: 28px;
	color: #fff;
	margin-top: 7px;
	svg {
		width: 46px;
		height: 46px;
		margin-top: 5px;
	}
}

.heat-source {
	display: inline-block;
	min-width: 133px;
	font-size: 21px;
	@media only screen and (max-width: 40.063em) {
		min-width: 32%;
		font-size: 19px;
		margin-bottom: 50px;
	}		
	color: #000;
	text-transform: uppercase;
	svg {
		width: 57px;
		height: 50px;
		margin-bottom: 15px;
		@media only screen and (max-width: 40.063em) {
			width: 48px;
			height: 42px;	
		}
	}
	&.radiant svg {
		width: 65px;
		@media only screen and (max-width: 40.063em) {
			width: 55px;	
		}
	}
	&:not(.active) {
		color: #bdbbbc;
	}
	&:not(.active):not(.induction) {
		svg path {
			fill: #bdbbbc;
		}
	}
	&.induction:not(.active) {
		svg path.induction-1 {
			fill: #bdbbbc;
		}
		path.induction-2, path.induction-3 {
			stroke: #bdbbbc;
		}
	}
}

section.product-intro {
	padding: 90px 10px 85px 10px;
	@media only screen and (max-width: 40.063em) {
		padding: 30px 10px 25px 10px;	
	}
	.product-intro-pp {
		margin-bottom: 35px;
	}
	p {
		font-size: 24px;
		@media only screen and (max-width: 40.063em) {
			font-size: 20px;	
		}
	}
	h2 {
		color: $primary-color;
		margin-bottom: 25px;
	}
	.led-colors {
		display: inline-block;
		width: 280px;
	}
	.led-color {
		display: inline-block;
		margin: 5px 10px;
		font-size: 21px;
		font-weight: bold;
		color: #000;
		&:not(.active) {
			color: #bdbbbc;
			font-weight: normal;
			text-decoration: line-through;
		}
	}
	.intro-pds {
		margin-top: 35px;
	}
}

section.features {
	.feature {
		width: 50%;
		@media only screen and (max-width: 40.063em) {
			width: 100%;	
		}
		display: block;
		float: left;
		margin-bottom: 10px;
		@media only screen and (max-width: 40.063em) {
			margin-bottom: 4px;	
		}
		text-align: center;
		color: #fff;
		font-size: 34px;
		@media only screen and (max-width: 40.063em) {
			font-size: 20px;	
		}
	}
	.feature, .feature-inner {
		background-size: cover !important;
		background-repeat: no-repeat;
		background-position: center center;	
		height: 454px;
		@media only screen and (max-width: 40.063em) {
			height: 187px;	
		}
	}
	.feature-inner {
		padding: 0 20px;	
	}
	.feature.large {
		width: 100%;
	}
	@media only screen and (min-width: 40.063em) {
		.feature.large + .feature {
			padding-right: 5px;
		}
		.feature.large + .feature + .feature {
			padding-left: 5px;
		}
	}
}

section.inspire {
	padding: 95px 0 90px 0;
	background: url(../images/design-gallery.jpg) center center/cover no-repeat;
	h2 {
		color: #fff;
		margin-bottom: 40px;
	}
	.button a {
		color: $secondary-color;
	}
	.product-addl-video {
		
	}
}

section.product-videos {
	padding: 100px 19px 30px 19px;
	@media only screen and (max-width: 40.063em) {
		padding: 40px 19px 20px 19px;	
	}
	h2 {
		max-width: 790px;
		display: inline-block;
		font-size: 46px;
		margin-bottom: 55px;
		@media only screen and (max-width: 40.063em) {
			font-size: 30px;
			margin-bottom: 20px;	
		}
	}
	a.product-addl-video {
		position: relative;
		display: inline-block;
		margin-bottom: 60px;
		@media only screen and (max-width: 40.063em) {
			margin-bottom: 29px;	
		}
		svg {
			display: block;
			position: absolute;
			width: 90px;
			height: 90px;
			top: 50%;
			left: 50%;
			margin-top: -45px;
			margin-left: -45px;
			@media only screen and (max-width: 40.063em) {
				width: 51px;
				height: 51px;
				margin-top: -25px;
				margin-left: -25px;	
			}
		}
	}
}

.full-width-data-sheet-button {
	display: block;
	float: left;
	background: #efeff0;
	padding: 15px;
	width: 100%;
	font-size: 26px;
	@media only screen and (max-width: 40.063em) {
		font-size: 20px;	
	}
	color: #5e6367;
}

section.ready, section .columns.locate {
	background: url(../images/innovative.jpg) center center/cover no-repeat;
}

section.ready {
	padding: 90px 0;
	@media only screen and (max-width: 40.063em) {
		padding-top: 55px;	
	}
	h2 {
		color: #fff;
		font-size: 46px;
		margin-bottom: 40px;
		@media only screen and (max-width: 40.063em) {
			font-size: 30px;	
		}
	}
}

.all-products {
	display: block;
	width: 100%;
	background: rgba(94,99,103,.8);
	position: absolute;
	z-index: 999999;
	top: 0;
	left: 0;
	.row {
		position: relative;
	}
	.columns {
		max-height: 0;
		overflow: hidden;
	}
	&.open .columns {
		max-height: 390px;
		@media only screen and (max-width: 40.063em) {
			padding-bottom: 15px;
		}
	}
	.product-thumb {
		display: inline-block;
		width: 143px;
		height: 103px;
		padding: 0 7px;
		margin: 18px 8px 14px 8px;
		color: #fff;
		font-size: 18px;
		&.white {
			color: #5e6367;
		}
		@media only screen and (max-width: 40.063em) {
			max-width: 29%;
			margin: 15px 1% 0 1%;
			font-size: 14px;
		}
	}
	#view-all {
		background: rgba(94,99,103,.8);
		color: #fff;
		position: absolute;
		right: 40px;
		bottom: -39px;
		font-size: 21px;
		padding: 4px 16px;
		cursor: pointer;
	}
}