.page-template-versatis section#content > section h2 {
	color: $orange;
}

section.versatis-video {
	padding: 60px 0 0 0;
	a.versatis-video {
		position: relative;
		display: inline-block;
		.video-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: wrap;
			padding-top: 40px;
		}
		svg {
			width: 80px;
			height: 95px;
			margin-bottom: 20px;
		}
		p {
			color: #fff;
			font-size: 30px;
			display: block;
			width: 100%;		
		}
	}
}

section.versatis-intro, section.versatis-animation, section.key-features {
	padding: 40px 0;
}

section.full-width-photo {
	img {
		width: 100%;
	}
}