.page-template-versatis section#content > section h2 {
	color: $orange;
}

section.versatis-video {
	padding: 60px 0 0 0;
	a.versatis-video {
		position: relative;
		display: inline-block;
		.video-overlay {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: wrap;
			padding-top: 40px;
		}
		svg {
			width: 80px;
			height: 95px;
			margin-bottom: 20px;
		}
		p {
			color: #fff;
			font-size: 30px;
			display: block;
			width: 100%;		
		}
	}
}

section.versatis-intro, section.versatis-animation, section.key-features {
	padding: 40px 0;
}

section.versatis-animation {
	background: rgb(255,255,255);
	background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(224,228,230,1) 100%);
}

section.full-width-photo {
	img {
		width: 100%;
	}
}

section.dedicated-team {
    display: flex !important;
    flex-flow: wrap;	
	background: #ececea;
	.dedicated-team-content {
		padding: 80px 5%;
		@media only screen and (max-width: 40.063em) {
			padding: 40px 5%;	
		}
	}
	h2 {
		margin-bottom: 24px;
	}
	p, h3 {
		margin-bottom: 30px;
	}
	.dedicated-team-photo {
		background-size: cover !important;
		background-position: right center;
		min-height: 300px;
	}
	.button a {
		text-transform: uppercase;
	}
}

section.luxury {
    display: flex !important;
    flex-flow: wrap;	
	background: #63666A;
	.luxury-content {
		padding: 80px 5%;
		@media only screen and (max-width: 40.063em) {
			padding: 40px 5%;	
		}		
	}
	h2, h3, h4, h5, h6, p {
		color: #fff !important;
	}
	h2 {
		margin-bottom: 20px;
	}
	.luxury-photo {
		background-size: cover !important;
		background-position: center center;
		min-height: 700px;
	}	
}

#versatis-animation {
	svg {
		overflow: visible;
	}
	#path {
		fill: none;
	}
	#drag {
		position: relative;
		circle {
			fill: none;
		}
	}
	text {
		font-size: 20px;
		font-weight: bold;
	}
}